html {
  background: darkgrey;
}
.set {
  width: 700px;
}
.card {
  vertical-align:top;
  display: inline-block;
  margin: 1px;
  background: white;
  border-radius: 8px;
  border: 7px solid black;
  width: 150px;
  height: 225px;
  text-align: center;
  position: relative;
}
.US .card {
  border: 7px solid white;
  height: 250px;
}
.US .card .image {
  height: 31.5%;

}
.card div {
  width: 100%;
}
.card .image {
  height: 35%;
  width: 70%;
  left: 15%;
  margin-left: 15%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card .text {
  font-size: 10px;
  top: 50%;
  display: block;
  margin-top: 2px;
}
.card .text.type {
  top: 94%;
  position: absolute;
}
.set.US .card .text {
  font-size: 9px;
}
.card .title {
  font-size: 11px;
  width: 100%;
  text-align: center;
}
.card .icon {
  position: absolute;
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
}
.card .icon.upright {
  top: 0px;
  left 0px;
}
.card .icon.topdown {
  bottom: 0px;
  right: 0px;
  transform: rotate(180deg);
}
.monster .card, .menatarms .card {
  background: beige;
  border: 7px solid white;
}
.monster .card .image, .menatarms .card .image {
  height: 54%;
}
.card.cardback {
  background-size: cover;
  background-position: center;
  border: none;
  width: 164px;
  height: 239px;
}
.US .card.cardback {
  width: 164px;
  height: 264px;
}
.board {
  padding: 5px;
  position: relative;
  margin-top: 5px;
  break-inside: avoid;
}
.board div {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all ease 0.3s;
}
.selected .object {
  pointer-events: none;
}
.selected .object.selected {
  pointer-events: auto;
}
.board button {
  position: absolute;
  left: 102%;
}
.board button:nth-child(2) {
  top: 30px;
}
.board button:nth-child(3) {
  top: 55px;
}
.object.selected {
  background-blend-mode: lighten;
  background-color: rgba(255,100,100,0.5);
}
.quest {
  background: grey;
}
.parchment {
  background: white;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  margin: 5px;
}
.parchment .title {
  font-size: 18px;
}
.speech {
  background: white;
  font-size: 12px;
  font-style: italic;
  max-width: 700px;
}
.speech p {
  text-indent: 30px;
  margin: 2px;
}
.quest .speech {
  text-align: center;
  line-height: 1.6;
}
.notes {
  background: white;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.notes div {
  margin: 5px;
  margin-left: 40px;
}
.board .frame {
/*  border: 1px solid black;*/
  border-width: 6px;
  border-color: black;
  border-style: double;
  background: none;
}
.field {
  background: lightgrey;
  pointer-events: auto;
  border: 1px solid grey;
}
.field.revealed {
  background: white;
}
.field.reach {
  background: green;
}
.field.border {
  background: none;
  border: none;
}
.wall {
  background: black;
  pointer-events: none;
}
.dark {
  background: lightgrey;
}
.mark {
  width: 16px;
  height: 16px;
  background-size: cover;
}

.map {
  margin-left: 20px;
}
.fight {
  width: 21px;
  height: 21px;
  background: red;
  top: 0px;
  left: 100px;
  z-index: 20;
}
div .dice {
  width: 18px;
  height: 18px;
  background-size: cover;
  border-radius: 10%;
  background-repeat: repeat;
  transition: all ease 0.3s, background-position ease 1s;
}
.bodypoints {
  border-collapse: collapse;
  display: inline-table;
}
.bodypoints td, .bodypoints th {
  width: 15px;
  height: 15px;
  font-size: 10px;
  border: 1px solid black;
  background: white;
  text-align: center;
}
.bodypoints th {
  background-image: url("Images/Rules/bodypointkill.jpg");
  background-size: cover;
}
.readme {
  width: 600px;
}
#campaigns {
  width: 700px;
}
#campaigns * {
  margin-bottom: 10px;
}
.title {
  font-size: 300%;
}
figcaption {
  font-weight: bold;
  caption-side: left;
}
.zargon::before{
  content:url("Images/Rules/zargon.jpg");
}
.heroes::before{
  content:url("Images/Rules/heroes.jpg");
}
@media print {
html, .quest {
  background: none;
}
button {
  display: none;
}
#header {
  display: none;
  background: green;
}
.quest {
  break-before: always;
}
.outro {
  break-before: always;
}
.parchment {
  margin-top: 30px;
  margin-bottom: 50px;
}
}
