html {
  background: darkgrey;
}
.set {
  width: 700px;
}
.card {
  vertical-align:top;
  display: inline-block;
  margin: 1px;
  background: white;
  border-radius: 8px;
  border: 7px solid black;
  width: 150px;
  height: 225px;
  text-align: center;
  position: relative;
}
.US .card {
  border: 7px solid white;
  height: 250px;
}
.US .card .image {
  height: 31.5%;

}
.card div {
  width: 100%;
}
.card .image {
  height: 35%;
  width: 70%;
  left: 15%;
  margin-left: 15%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card .text {
  font-size: 10px;
  top: 50%;
  display: block;
  margin-top: 2px;
}
.card .text.type {
  top: 94%;
  position: absolute;
}
.set.US .card .text {
  font-size: 9px;
}
.card .title {
  font-size: 11px;
  width: 100%;
  text-align: center;
}
.card .icon {
  position: absolute;
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
}
.card .icon.upright {
  top: 0px;
  left 0px;
}
.card .icon.topdown {
  bottom: 0px;
  right: 0px;
  transform: rotate(180deg);
}
.monster .card, .menatarms .card {
  background: beige;
  border: 7px solid white;
}
.monster .card .image, .menatarms .card .image {
  height: 54%;
}
.board {
  background: grey;
  padding: 5px;
  position: relative;
  margin-top: 5px;
  page-break-inside: avoid;
}
.board div {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all ease 0.3s;
}
.selected .object {
  pointer-events: none;
}
.selected .object.selected {
  pointer-events: auto;
}
.board button {
  position: absolute;
  left: 102%;
}
.board button:nth-child(2) {
  top: 30px;
}
.board button:nth-child(3) {
  top: 55px;
}
.object.selected {
  background-blend-mode: lighten;
  background-color: rgba(255,100,100,0.5);
}
.board .intro, .board .speech {
  bottom: 5px;
  background: white;
  border: 1px solid black;
  width: 90%;
  left: 5%;
  text-align: center;
}
.board .speech {
  bottom: 30px;
}
.board .frame {
/*  border: 1px solid black;*/
  border-width: 6px;
  border-color: black;
  border-style: double;
  background: none;
}
.field {
  width: 20px;
  height: 20px;
  background: lightgrey;
  pointer-events: auto;
  border: 1px solid grey;
}
.field.revealed {
  background: white;
}
.field.reach {
  background: green;
}
.field.border {
  background: none;
  border: none;
}
.wall {
  background: black;
  width: 3px;
  height: 3px;
  pointer-events: none;
}
.piece {
  width: 20px;
  height: 20px;
}
.dark {
  width: 20px;
  height: 20px;
  background: lightgrey;
}
.mark {
  width: 16px;
  height: 16px;
  background-size: cover;
}

.map {
  margin-left: 20px;
}
.fight {
  width: 20px;
  height: 20px;
  background: red;
  top: 0px;
  left: 100px;
  z-index: 20;
}
div .dice {
  width: 18px;
  height: 18px;
  background-size: cover;
  border-radius: 10%;
  background-repeat: repeat;
  transition: all ease 0.3s, background-position ease 1s;
}
.readme {
  width: 600px;
}
#campaigns {
  width: 700px;
}
#campaignsEU, #campaignsUS {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.title {
  font-size: 300%;
}
@media print {
html, .board {
  background: none;
}
button {
  display: none;
}
#maps {
  page-break-before: always;
}
